.seccion_Contactos{
    width: 1250px;
    align-content: center;
    
}
.seccion_Titulo{
    color: rgb(255, 255, 255);
    font-family:'Century Gothic', Courier, monospace;
    font-weight: bold;
    font-size: 32px;
    
}


.section_contactos_datos{
    display: flex;
    flex-wrap: wrap;
    color: black;
    gap: 15px;
    justify-content: space-between;
}


