.seccion_Contactos{
    width: 1250px;
 
}
.seccion_Titulo{
    color: srgb(255, 255, 255);
    font-family:'Century Gothic', Courier, monospace;
    font-weight: bold;
    font-size: 45px;
    text-shadow: -5px 4px 8px rgba(75, 75, 75, 0.69);
    
}


.section_contactos_datos{
    display: flex;
    flex-wrap: wrap;
    color: black;
    gap: 15px;
    justify-content: space-between;
}


